body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5em;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5em 0 0.5em;
}

.end {
  justify-content: end;
  margin: 0;
}

button {
  width: fit-content;
  border: none;
  background: none;
  color: gray;
  text-decoration: underline;
}

button:hover {
  color: black;
}

.large {
  font-size: 1.15em;
}

.small {
  font-size: 0.85em;
}

label {
  margin-bottom: 0.2em;
}

table, td, th {
  border: 1px solid gray;
}

table {
  border-collapse: collapse;
  min-width: 50%;
}

th, td {
  padding: 0.3em;
  text-align: center;
}

th:nth-child(4n+1),td:nth-child(4n+1) {
  color: #47E3FF;
  display: none;
}

th:nth-child(4n+3),td:nth-child(4n+3) {
  text-align: left;
}

th:nth-child(4n),td:nth-child(4n) {
  color: #FF6347;
  text-align: left;
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 2.5em;
  color: gray;
}

footer span {
  margin: 0.25em;
}

footer a {
  color: gray;
}
